@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
}
